<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Method Element BVR Enabled Editor 4"
            extensions="di"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.dcc.ice.ufjf.elementdiagram.epfadapter2.editors.MethodElementBVREditor"
            id="org.dcc.ice.ufjf.elementdiagram.epfadapter2.editors.MethodElementBVREditor">
      </editor>
   </extension>

</plugin>
