<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="BVR2 Enabled BVR Editor 5"
            extensions="di"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.dcc.ice.ufjf.librarydiagram.epfadapter2.editors.LibraryBVREditor"
            id="org.dcc.ice.ufjf.processdiagram.epfadapter2.editors.LibraryBVREditor">
      </editor>
   </extension>

</plugin>
